useDynLib(synlik)
exportPattern("^[[:alpha:]]+")

# Imported stuff
importFrom(compiler, "cmpfun")

importFrom(mvnfast, "rmvn", "dmvn", "maha")

importFrom(methods)

importFrom(abind, "abind")

importFrom(plyr, "alply", "laply", "aaply", "llply", "rlply")

importFrom(doSNOW, "registerDoSNOW")

importFrom(MASS, "rlm")

importFrom(Rcpp)

importFrom(parallel, "clusterApply")
importFrom(parallel, "clusterEvalQ")
importFrom(parallel, "clusterExport")
importFrom(parallel, "makeCluster")
importFrom(parallel, "stopCluster")
importFrom(parallel, "detectCores")

importFrom(stats, "simulate", "coef", "vcov", "confint", "logLik", "nls", "fitted")

importFrom(graphics, "plot")

importFrom(Matrix, "nearPD")

importFrom(mgcv, "gam", "bam", "predict.gam", "s")

importFrom(matrixStats, "colMedians", "colMads", "colAnys")

