useDynLib(synlik)
exportPattern("^[[:alpha:]]+")

# Imported stuff
importFrom(compiler, "cmpfun")

importFrom(methods, "as", "callNextMethod", "is", "new")

importFrom(abind, "abind")

importFrom(plyr, "alply", "laply", "aaply")

importFrom(doSNOW, "registerDoSNOW")

importFrom(MASS, "rlm")

importFrom(parallel, "clusterApply")
importFrom(parallel, "clusterEvalQ")
importFrom(parallel, "clusterExport")
importFrom(parallel, "makeCluster")
importFrom(parallel, "stopCluster")
importFrom(parallel, "detectCores")

importFrom(stats, "simulate", "coef", "vcov", "confint", "logLik", 
           "approx", "cor", "median", "qchisq", "qgamma",
           "qnorm", "qqline", "qqnorm", "rnorm", "runif")

importFrom(graphics, "plot", "abline", "axis", "hist", "image", "layout",
             "lines", "par", "points")

importFrom(Matrix, "nearPD")

importFrom(grDevices, "colorRampPalette")

importFrom(utils, "combn", "tail")

